body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(12, 155, 155, 0.205);
}

.nomargin {
    margin: 0;
    padding: 0;
    font-family:  Lobster;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 50px;
    text-align: center;
    color: rgb(247, 93, 4);
}

.lobstertext {
    font-family: Lobster;
    position: absolute;
    color: transparent;
    background-color: transparent;
    width: 307px;
    height: 300px;
    text-align: center;
}

.lobstertext:hover {
    background-color: rgba(0, 0, 0, 0.281);
    color: whitesmoke;
    text-shadow: -1px -1px 0 red,
        1px -1px 0 red,
        -1px 1px 0 red,
        1px 1px 0 red;
    font-size: 26px;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    height: 340px;
    width: 340px;
    
}

.links {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:hover {
    text-align: center;

}


.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

.maingrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    /* align-items: center; */
    list-style-type: none;
}

.imgcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
    flex-basis: 30%;
    margin-top: 50px;
    
}

.wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}


.imgformat {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.295), 5px 5px red, 5px 5px 30px 5px rgb(0, 0, 0, 0.65);
    
}
.imgformat:hover {
    background-color: rgba(0, 0, 0, 0.281);
    height: 320px;
    width: 320px;
}

.spacer {
    flex: 1;
}

#lightBoxBg{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    display: none;
    background-color: black;
}

#lightBox{
    position: absolute;
    top: 25%;
    left: 40%;
    display: none;
}