body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgba(12, 155, 155, 0.205), rgba(16, 12, 255, 0.305));
}

.nomargin {
    margin: 0;
    margin-top: 5px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family:  Lobster;
    background-color: rgba(245, 245, 245, 0.507);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.678);
    border-radius: 25px;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    font-size: 80px;
    text-align: center;
    color: rgb(247, 93, 4);
}

.lobstertext {
    font-family: Lobster;
    position: absolute;
    color: transparent;
    background-color: transparent;
    width: 307px;
    height: 300px;
    text-align: center;
}

.lobstertext:hover {
    background-color: rgba(0, 0, 0, 0.281);
    color: whitesmoke;
    text-shadow: -1px -1px 0 red,
        1px -1px 0 red,
        -1px 1px 0 red,
        1px 1px 0 red;
    font-size: 26px;
    border-radius: 25px;
    transition: all 1s ease-in-out;
    height: 340px;
    width: 340px;
    
}

.links {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links:hover {
    text-align: center;

}


.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

.maingrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    /* align-items: center; */
    list-style-type: none;
}

.imgcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:1;
    flex-basis: 25%;
    margin-top: 50px;
    
}

.wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}


.imgformat {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.295), 5px 5px red, 5px 5px 30px 5px rgb(0, 0, 0, 0.65);   
}

.bigsize {
    width: 500px;
    height: 500px;
    border: solid 1px black;
    box-shadow: 7px 5px 20px 10px rgba(0, 0, 0, 0.384);
    border-radius: 15px;
    text-align: center;
}



.spacer {
    flex: auto;
    flex-grow: auto;
}

/* CSS for my Modal Window */

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: scale(2);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, azure, darkgray);
    padding: 25px;
    width: 700px;
    height: relative;
    border-radius: 25px;
}

.close-button {
    float: top;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkslategrey;
    color: whitesmoke;
}

.prev-button {
    text-align: center;
    font: 16px Lobster;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
}

.prev-button:hover{
    background-color: darkslategrey;
    color: whitesmoke;
}

.next-button {
    text-align: center;
    font: 16px Lobster;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
}

.next-button:hover{
    background-color: darkslategrey;
    color: whitesmoke;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.flexdisplay {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.none {
    display: none;
}

